@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ubuntu';
  src: url('/public/fonts/ubuntumono.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

html, body {
  @apply bg-secondary text-primary font-ubuntu
}